<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <title>Welcome to GISA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>


{% block head_block %}
    {% endblock %}
</head>
<body>

<div class="header">
  <h2 align = 'center'>GISA</h2>
  <h4 align = 'center'>Gesture Interpreter for Specially Abled</h4>
  <p align = 'center'>A project by Drishti-A Revolutionary Concept</p>
</div>

<ul>
  <li><a class="active" href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'admin:index' %}">Admin</a></li>
  <li><a href="{% url 'predict:form' %}">Predict</a></li> 
</ul>
{% block courosel_block %}
    {% endblock %}
    <div class = "container">
      {%block body_block %}
      {% endblock %}
    </div>
  </body>
</html>