{% extends 'index.html' %}

{% block body_block %}
<!-- Start facilities Area -->
<section class="facilities-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">COVID-19</h1>
                    <h4>Corona Virus is a newly discovered disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). First identified in Wuhan, it has spread all across the globe and has infected over 2.5 million people worldwide.<br/>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row justify-text-center">
            <div class="col-lg-6 col-md-12">
                <div class="title text-center">
                    <h2><u>Symptoms</u></h2>
                </div>
                <h4 style="text-align: justify;">Common symptoms include fever, dry cough, fatigue, sputum production, loss of smell, and shortness of breath. While the majority of cases result in mild symptoms, some progress to viral pneumonia and multi-organ failure. Emergency symptoms include difficulty breathing, persistent chest pain or pressure, confusion, difficulty waking, and bluish face or lips.</h4>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12">
                <div class="title text-center">
                    <h2><u>Precautions</u></h2>
                </div>
                <h4 style="text-align: justify;">
                    <ul style="list-style:inside">
                        <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
                        <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
                        <li>Don’t touch your eyes, nose or mouth.</li>
                        <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
                        <li>Stay home if you feel unwell.</li>
                        <li>If you have a fever, a cough, and difficuty breathing, seek medical attention. Call in advance.</li>
                        <li>Follow the directions of your local health authority.</li>
                    </ul>
                </h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-facilities text-center">
                    <span class="lnr lnr-heart"></span>
                    <a href="https://www.mohfw.gov.in/"><h4>MoHFW</h4></a>
                    <p>
                        Ministry of Health and Family Welfare, Government  of India
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-facilities text-center">
                    <span class="lnr lnr-drop"></span>
                    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"><h4>WHO</h4></a>
                    <p>
                        World Health Organisation
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-facilities text-center">
                    <span class="lnr lnr-phone-handset"></span>
                    <a href="#"><h4>Emergency Contact</h4></a>
                    <p>
                        011-23978046 or 1075<br>
                        Email: <a href = "mailto:ncov2019@gov.in" target="_blank">ncov2019@gov.in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>	
</section>
 {% endblock %}

