{% extends 'base.html' %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Welcome to GISA</title> 
</head> 
<body>
    {% block body_block %} 
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ segment_form.as_p }} 
        <button type="submit">Upload here</button> 
    </form> 
    <div id = "img_jugad">
        {% if image_show.uploads %}
        <!-- <p>{{image_show.uploads.url}}</p> -->
        <!-- <p id = 'jugad'>{{ checked }} </p> -->
        <img src = "{{ image_show.uploads.url }}" alt="uploaded image" class = "image_display" id="seg_image">
        {% endif %}
    </div>
    <!-- <div style="border: 1px solid black; background-color:palegreen; margin-top: 50px; background-color: rgba(0,0,0,0.3);background-blend-mode: lighten !important" class="jumbotron"> -->
        <div class = "slidecontainer">
        <label for="myRangeHl" >Hue(lower bound):<span id="hue_l_op"></span></label>
        <input type="range" min="0" max="255" value="0" class="slider" id="myRangeHl"><br><br>
        <label for="myRangeSl" >Saturation(lower bound): <span id="saturation_l_op"></span></label>
        <input type="range" min="0" max="255" value="0" class="slider" id="myRangeSl"><br><br>
        <label for="myRangeVl" >value(lower bound): <span id="value_l_op"></span></label>
        <input type="range" min="0" max="255" value="0" class="slider" id="myRangeVl"><br><br>
        <label for="myRangeHh">Hue(upper bound): <span id="hue_h_op"></span></label>
        <input type="range" min="0" max="255" value="255" class="slider" id="myRangeHh" ><br><br>
        <label for="myRangeSh" >Saturation(upper bound): <span id="saturation_h_op"></span></label>
        <input type="range" min="0" max="255" value="255" class="slider" id="myRangeSh"><br><br>
        <label for="myRangeVh" >Value(upper bound):<span id="value_h_op"></span></label>
        <input type="range" min="0" max="255" value="255" class="slider" id="myRangeVh"><br><br>
        <button type="button" class="btn-primary" onclick="window.location.href=window.location.href" style="width:300px;height:30px;margin-top:30px;margin-left: 50px;margin-bottom: 5%;">SAVE IT!</button>
        </div>
    <!-- </div> -->
    <div style="border: 1px solid black; background-color:palegreen; margin-top: 50px; background-color: rgba(0,0,0,0.3);background-blend-mode: lighten !important" class="jumbotron">
        <form method = "POST">
            {% csrf_token %}
            {{ temp_form.as_p }}
            <input type = "submit" name="do_predict" value="Predict">
        </form>
        
        {% if prediction %}
        <!-- <img src = "{{ predicted_image.uploads.url }}" alt="original image"> -->
        <!-- <img src = "{{ predicted_image.uploads.url }}" alt="predicted image" style = "float:left">          commment this line -->
        <p>This is {{ prediction }} </p>
        {% endif %}>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">

    function refreshImage(imgElement,imgURL){       
   // create a new timestamp    
    var timestamp = new Date().getTime();        
    var el = document.getElementById(imgElement);      
    var queryString = "?t=" + timestamp;           
    el.src = imgURL + queryString;  
  }

  $('.slider').on("input", function(e) {
      var h_v_h = document.getElementById("myRangeHh").value;
      var s_v_h = document.getElementById('myRangeSh').value;
      var v_v_h = document.getElementById('myRangeVh').value;
      var h_v_l = document.getElementById("myRangeHl").value;
      var s_v_l = document.getElementById('myRangeSl').value;
      var v_v_l = document.getElementById('myRangeVl').value;

      console.log('Inside the function!')
      $.ajax( {
          method : 'GET',
          url : '{% url "gisa:segment" %}',
          data: {
          'h_value_h' : h_v_h,
          's_value_h' : s_v_h,
          'v_value_h' : v_v_h,
          'h_value_l' : h_v_l,
          's_value_l' : s_v_l,
          'v_value_l' : v_v_l,
        },
        datatype: 'json',
        success: function(data){
          console.log('Success!! Data is sent perfectly!');
          console.log(data);
          refreshImage("seg_image",data);
        },
      });
  })
</script>
{% endblock %}
</body> 
</html> 

